<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to delete this item?
      </div>
      <div class="modal-footer">
        <%= form_for object, method: :delete do |f| %>
          <%= f.submit("Delete", class: "btn btn-danger") %>
          <button type="button" class="custom-close btn btn-default" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>
    </div>
  </div>
</div>