<% object.each do |exercise| %>
  <%= link_to exercise_path(exercise), remote: true, class: 'listing' do %>
    <span class="glyphicon glyphicon-chevron-right"></span><%= ' ' + exercise.name.titleize %>
    &nbsp;
    <%= render 'shared/votes', obj: exercise, obj_type: 'exercise' %>
  <% end %>
  <br />
<% end %>