<%= render 'shared/column_title_with_votes', column_title: @exercise.name, object: @exercise, object_type: 'exercise' %>

<span id="voting_warning"></span>

<%= render 'shared/user_dependent_actions', object: @exercise, edit_url: edit_exercise_path(@exercise), vote_true_url: vote_exercise_path(@exercise, vote: true), vote_false_url: vote_exercise_path(@exercise, vote: false) %>

<%= render 'shared/delete_modal', object: @exercise %>

<%= render 'exercise_attributes', object: @exercise %>